{% extends 'base.html' %}

{% block title %}My Events{% endblock %}

{% block content %}
<div class="text-center my-3">
	<h1>{{ event_name }}</h1>
	<h3>Description</h3>
	<p>{{ event_description }}</p>
	<h3>Status</h3>
	<p>{{ event_status }}</p>
	
</div>

{% endblock %}
